body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

#calculater{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 15px;
    max-width: 350px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgba(99, 99, 99, 0.418);
    

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7px;
    padding: 20px;
}

button{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: hsla(0, 0%, 35%, 0.719);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 0, 0);
}
button:active{
    background-color: rgb(206, 199, 199);
}
.op-btn{
    background-color: rgb(255, 177, 74);
}
.op-btn:hover{
    background-color: rgb(255, 162, 39);
}
.op-btn:active{
    background-color: rgb(255, 145, 0);
}

